@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;

}
body{
    display: grid;
}   place-content: center;
    height: 10vh;
    vidth: 100w;

}

,flipbook
wioth: 1000px;
height: 600px

.flipbook,pagina{
    background:  rgb (233, 233, 2);
    color:  black::after
    font-weight: boto::after
    border:  fone::after
}
    
      .flipbook .paginas small
          font-style: italic;
          font-weight: lighter;
          opacity: o,7;
          font-size: 14px;


          .flipbook .page
              background:  whitesmoke;
              display: flex;
              flex-direction: colums;
              justify-content: center;
              align-items: center;
              gap: 100px;
              border: 1px solid   rgba (0, 0, 0, 11)
              
}
              .page img
                   width: 70;
                   object-fit: cover;
                   margin: auto;
